/********* global setting ***************/

/******* Layout *************/
#main_body{
    background: none;
    place-content: center;
    place-items: start;
    display: flex;
}

table{
    margin:0em 1.5px;
}

header{
  padding-bottom: 2eM;
  margin-bottom: 0.3ex;
  display: flex;
  flex-direction: column;
  place-items: center;
}

#options{
    margin-left: 2ex;
}
/******* ground setting ****************/
td{
    position:relative;
    background:white;
    width:1em;
    height:1em;
    margin:0.1ex;
    padding:0px;
}

tr{
  border: 1px solid yellow;
}

#man, #contral_table{
    float: left;
}

#play_ground{
    min-width: 360px;
    display:block;
    float: left;
    padding: 1.2ex 2eM;
    margin: 0px 1ex;
    background-color: rgba(0, 0, 0, 0.8);
}

#play_ground > *{
    float:left;
    position:relative;
}


/*************** block setting **************/

.block{
    border-radius:3.2px;
    box-shadow:gray 0px 0px 1.5px 2px;
    border-style:none;
}

.red{
    background-color:red;
    box-shadow:#dd7755;
}

.orange{
    background-color:orange;
    box-shadow:#dd7755;
}

.green{
    background-color:green;
}

.blue{
    background-color:blue;
}

.dark_blue{
    background-color:#208;
}

.gray{
    background-color:gray;
}

.light_green{
    background-color:#12ff55;
}

.pink{
    background-color:pink;
}

.purple{
    background-color:purple;
}

/************ item setting *************/
#keybroad td{
    background-color: gray;
}


html{
    color:white;
    background-image:url("bg.jpg");
    background-repeat: none;
    background-size: cover;
    background-color: radial-gradient(black, white)
}

#title{
    color:yellow;
    width: 100%;
    text-align: center;
}

#contal_table_caption{
  color: yellow;
}

aside{
  background: rgba(180, 180, 180, 0.8);;
  margin: 1ex 2eM;
}
